<div class="card">
  <h5 class="card-header">Current users ({{users?.length}})</h5>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Addrees</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="users.length === 0">
        <tr><td colspan="4">There are no user in the DB.</td></tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.address}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(user)"><i class="fa fa-pencil"></i> 编辑</button> <button class="btn btn-sm btn-danger" (click)="submitRemove(user)"><i class="fa fa-trash"></i> 删除</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="submitEdit(user)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="name" [(ngModel)]="user.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="age" [(ngModel)]="user.age" min="0" step="1">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="addrees" [(ngModel)]="user.address">
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i>保存</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i>取消</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Message:</strong> {{infoMsg.body}}
    </div>
  </div>
</div>