@import "./bootstrap.min.css";

#main {
  padding-top: 1rem; }

.container { width:80%; }

header {
  background-color: #222;
}

.center{
  text-align: center;
}
.center input { margin-top: 10px; }
.center h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: -webkit-xxx-large;
}

.navbar { margin-bottom: 0px;}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  z-index: 999;
  position: fixed;
  /*bottom: 15px;*/
  left: 25%;
  width: 50%;
  opacity: 0.9;
}

.userleft {
  float: left;
  width: 30%;
}

.userleft img{
  width: 80px;
  height: 80px;
}

.userright {
  float: left;
}

/*.user-info {
  display: inline-flex;
}*/

.user-info textarea {
  height: 100px;
  margin-bottom: 5px;
}

.userpic{
  margin: 10px;
}

table th, table tr td {
  text-align: center;
  width: 25%;
}
